table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04aa6d;
    color: white;
}

tr:hover {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.mtabela {
    padding-top: 24px;
    padding-left: 18px;
}