{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}quitandaDm{% endblock %}</title>
    <link href="{% static 'mcss/principal.css' %}" rel="stylesheet">
    {% block mstatics %}{% endblock %}
    <title>Title</title>
</head>

<style>
.item {
    background-color: #fff;
    margin: 4px;
}
.menu {
    background-color: #333;
    color: white;
}
.coluna {
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
}
    
.linha {
    grid-template-rows: auto;
}
    
.rodape {
    background-color: blue;
    height: 50px;
    color: white;
    text-align: center;
}
</style>
<body>
<section class="navegacao">
    <nav>
        <ul>
            <li>
                <a aria-current="page" href="{% url 'home-page' %}">HOME</a>
            </li>
            <li>
                <a aria-current="page" href="#">VENDAS</a>
            </li>
            <li>
                <a aria-current="page" href="{% url 'produto:index' %}">PRODUTOS</a>
            </li>
            <li>
                <a aria-current="page" href="{% url 'cliente:lista' %}">CLIENTES</a>
            </li>
            <li>
                <a aria-current="page" href="#">ESTOQUE</a>
            </li>
            <li>
                <a aria-current="page" href="#">FORNECEDORES</a>
            </li>
            <li style="float:right">
                <a class="active" href="{% url 'sobre' %}" aria-current="page" href="#">SOBRE</a>
            </li>
        </ul>
    </nav>
</section>
<div class="coluna linha">
    <section class="item menu">
        MENU ESQUERDO
    </section>
    <section class="item conteudo">
        <div>
            {% block conteudo %}{% endblock %}
        </div>
    </section>
    <section class="item menu">
        Menu direito
    </section>
</div>

<section class="rodape">
    Rodapé
  </section>
</body>
</html>