{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}quitandaDm{% endblock %}</title>
    <link href="{% static 'mcss/principal.css' %}" rel="stylesheet">
    {% block mstatics %}{% endblock %}
    <title>Title</title>
</head>

<body>
<section>
    <nav>
        <ul>
            <li>
                <a aria-current="page" href="{% url 'home-page' %}">HOME</a>
            </li>
            <li>
                <a aria-current="page" href="#">VENDAS</a>
            </li>
            <li>
                <a aria-current="page" href="{% url 'produto:index' %}">PRODUTOS</a>
            </li>
            <li>
                <a aria-current="page" href="{% url 'cliente:lista' %}">CLIENTES</a>
            </li>
            <li>
                <a aria-current="page" href="#">ESTOQUE</a>
            </li>
            <li>
                <a aria-current="page" href="#">FORNECEDORES</a>
            </li>
            <li style="float:right">
                <a class="active" href="{% url 'sobre' %}" aria-current="page" href="#">SOBRE</a>
            </li>
        </ul>
    </nav>
</section>
<section>
    <div class="conteudo">
        {% block conteudo %}{% endblock %}
    </div>
</section>
<section>
</section>
</body>
</html>