<style>
.navegacao {
  background-color: black;
  color: white;
  margin: 8px;
  height: 50px;
  border-radius: 8px;
  text-align: center;
}
.item {
  margin: 5px;
  background-color: red;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  color: white;
}

.titulo {
  color: red;
  text-align: center;
}

.coluna {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
}

.linha {
  grid-template-rows: auto;
}

.rodape {
  background-color: blue;
  height: 50px;
  color: white;
  text-align: center;
}

</style>
<section class="navegacao">
  Navegação
</section>
<section class="coluna linha">
  <div class="item">Menu direito</div>
  <div class="item">Conteúdo</div>
  <div class="item">Menu esquerdo</div>
</section>
<section class="rodape">
  Rodapé
</section>